<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width">
		<meta name="format-detection" content="telephone=no">

		<title>{{ title }}</title>
		<meta name="description" content="">

		<meta property="og:url" content="">
		<meta property="og:title" content="">
		<meta property="og:type" content="website">
		<meta property="og:description" content="">
		<meta property="og:image" content="/assets/images/ogp.png">
		<meta property="og:site_name" content="">
		<meta property="fb:app_id" content="">
		<meta property="og:locale" content="ja_JP">

		<meta name="twitter:card" content="">
		<meta name="twitter:site" content="">
		<meta name="twitter:description" content="">
		<meta name="twitter:image:src" content="">

		<meta name="robots" content="index,follow">
		<link rel="canonical" href="">

		{% if env == 'production' %}
			{% for cssPath in manifest['src/scripts/main.ts'].css %}
				<link rel="stylesheet" href="/{{ cssPath }}">
			{% endfor %}
			<script type="module" src="/{{ manifest["src/scripts/main.ts"].file }}"></script>
		{% else %}
			<script type="module" src="http://localhost:5173/@vite/client"></script>
			<script type="module" src="http://localhost:5173/src/scripts/main.ts"></script>
		{% endif %}
	</head>
	<body>
		{{ content | safe }}
	</body>
</html>
